{erl_opts, [debug_info,
            warn_export_vars,
            warn_shadow_vars,
            warn_obsolete_guard,
            %% warn_missing_spec,
            warn_untyped_record
           ]}.

{pre_hooks,
  [{compile, "make elisp"}
  ]}.

{relx,
 [{release, {release_name, semver}, [distel],
   [{dev_mode, false},
    {include_erts, false},
    {system_libs, false},
    {include_src, false}]
  }
 ]}.    

{shell, []}.

{deps, []}.
